html{
    background-color: #E7E0D3;
}

.responsive{
    display: block;
    max-width: 95%;
    height: auto;
}

.aligne_center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.box{
    box-shadow: -5px 5px 8px yellow;
    background-color: #800F12;
}

.box-footer{
    box-shadow: -5px -5px 8px yellow;
    background-color: #800F12;
}

#logo{
    margin-top: 1em;
    margin-left: -2em;
}

header#menu {
    height: 10em;
}

header#sub_menu {
    height: 16.5em;
}

#form-search{
    margin-top: 3em;
}

.form-input{
    border-radius: 5px;
    border: 0;
    border-bottom: 1px solid yellow;
    padding: 5px 5px 5px 5px;
}

#form-search input.btn, #form-search-mobile input.btn{
    width: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-image: url('../imgs/Search-icon.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#form-search-mobile{
    display: none;
    padding: 5px;
}

nav#navigation ul li, nav#pagination-nav ul li,
nav#footer-nav ul li{
    display: inline;
}

nav#navigation ul{
    padding: 5px;
}

nav#navigation ul li a{
    text-decoration: none;
}

nav#navigation, main, section#main_section, article,
nav#pagination-nav, footer, header#sub_menu {
    margin-top: 1em;
}

section#main_section article header img{
    padding: 8px;
}
